<%= render "shared/header" %>

<div class='complete-main'>
  <div class='complete-content'>
  <div class='complete-box'>
    <div class='complete-message'>特記事項はありますか？</div>
    <%= link_to '特記事項を投稿する', '#', class: "form" %>
    <%= link_to '一覧ページに戻る', root_path, class: "form" %>
    </div>
  </div>
</div>