* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}


.main {
  background: #f8f8f8;
}

.form-area {
  display: flex;
  justify-content: space-around;
  padding: 0 5%;
}

.form {
  height: 30px;
  width: 120px;
  padding: 5px;
  border: solid 1px;
  border-radius: 10px;
  line-height: 20px;
  text-align: center;
  color: black;
  font-weight: bold;
}

.report-contents {
  align-items: center;
  padding: 10px;
  margin: 0 10%;
  width: 80vw;
}

.reports-area {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #00ff0d;
}

.title {
  line-height: 1.5;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
}

.list {
  padding: 5px 1px;
  border: solid 1px;
  background-color: #f8f8f8;
}

.report-info {
  color: black;
  font-weight: bold;
}

.report-info-attention {
  color: red;
}

